@tailwind base;
@tailwind components;
@tailwind utilities;


.ant-table-cell:last-child{
    text-align: end !important;
}
th{
    background-color: white !important;
    font-weight: 400 !important;
    color: #667085 !important;
}
th::before{
    display: none;
}
  
